@media screen and (max-width: 1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }
    .about-containers {
        flex-wrap: wrap;
    }
}


@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburger-nav {
        display: flex; 
    }
    #experience, .experience-details-container {
        margin-top: 2rem;
    }
    #profile, .section-container {
        display: block;
    }
    .arrow {
        display: none;
    }
    section, .section-container {
        height: fit-content;
    }
    section {
        margin: 0 5%;
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
    .about-containers {
        margin-top: 0;
    }
}


@media screen and (max-width: 600px) {
    #contact, footer {
        /* height: 40vh; */
        padding: 0 1rem;
    }
    #profile {
        height: 83vh;
        margin-bottom: 0;
    }
    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }
    .about-containers, .contact-info-upper-container, .btn-container {
        flex-wrap: wrap;
    }
    .contact-info-upper-container {
    flex-direction: column;
    gap: 0.75rem;
    text-align: center;
    align-items: center;
    padding: 1rem;
}
    .contact-info-container {
        margin: 0;
        flex-direction: column;
        gap: 0.4rem;
    }
    .contact-info-container p, .nav-links li a {
        font-size: 0.95rem;
    }
    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1rem;
    }
    .section__pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section__text__p2 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }


    /* Videos Page Grid Responsive */
    @media (max-width: 1024px){
  .project-grid{
    grid-template-columns:repeat(2,1fr);
  }
}

@media (max-width: 600px){
  .project-grid{
    grid-template-columns:repeat(1,1fr);
  }
}
@media (max-width:600px){
  #videoModal iframe{
    width:95%;
  }
}
/* ===============================
   Videos Page - Mobile Layout
================================ */

@media (max-width:600px){

  .project-grid{
    grid-template-columns:1fr;
    padding:1.5rem;
    gap:1.8rem;
  }

  .item{
    border-radius:1rem;
  }

  .video-thumb{
    border-radius:1rem;
  }

  .page-header{
    font-size:1.8rem;
    margin-top:1.5rem;
  }

  .play-icon{
    width:55px;
    height:55px;
    font-size:28px;
  }

}


}